<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Biblioteca POU</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Iniciar sesion</a>
          </class=>
          <class="nav-item">
            <a class="nav-link" href="#">Libros</a>
          </class=>
          <class="nav-item">
            <a class="nav-link" href="#">Autores </a>
          </class=>
          <class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Paises</a>
        <class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Editoriales</a>
          </class=>
          </class=>
        </div>
      </div>
    </div>
  </nav>